@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

$primary-green: hsl(75, 94%, 57%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-grey: hsl(0, 0%, 20%);
$neutral-dark-grey:hsl(0, 0%, 12%);
$neutral-off-black: hsl(0, 0%, 8%);

$size-name: 1.5rem;
$size-location: 0.75rem;
$size-description: 0.75rem;
$size-link: 0.9rem;
$size-footer: 1rem;